<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <!-- FontAwesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- Javascript -->
    <script defer src="script.js"></script>
  </head>
  <body>
    <!-- Vue js root -->
    <div
      id="root"
      class="vh-100 container d-flex align-items-center justify-content-center"
    >
      <!-- app container -->

      <main class="row shadow">
        <!-- contacts section -->
        <div id="contacts-section" class="col-3 px-0 d-flex flex-column">
          <div
            id="user-bar"
            class="d-flex align-items-center justify-content-between p-2 px-2"
          >
            <!-- img and user name -->
            <div class="d-flex align-items-center gap-3">
              <img src="img/avatar_io.jpg" alt="user-picture" class="avatar" />
              <div>Kimia Ghambari</div>
            </div>
            <!-- options -->
            <div class="d-flex gap-3">
              <a href="#"><i class="fa-solid fa-circle-notch fa-lg"></i></a>
              <a href="#"><i class="fa-solid fa-message fa-lg"></i></a>
              <a href="#"
                ><i class="fa-solid fa-ellipsis-vertical fa-lg"></i
              ></a>
            </div>
          </div>
          <!-- Info bar -->
          <div id="info-bar" class="d-flex align-items-center p-2 py-3">
            <span class="fa-stack fa-lg">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-bell-slash fa-stack-1x fa-inverse"></i>
            </span>
            <div class="lh-sm">
              <div class="txt-sm">Get push notifications of new messages</div>
              <a href="#" class="small-text">Activate desktop notifications</a>
            </div>
          </div>
          <!-- searchbar contacts -->
          <div id="searchbar-container">
            <form class="d-flex m-2" role="search">
              <span
                class="input-group-text my-input-group-text"
                id="basic-addon1"
                ><i class="fa-solid fa-magnifying-glass align-self-center"></i
              ></span>
              <input
                class="form-control my-search-bar"
                type="search"
                placeholder="Search or start a new chat"
                aria-label="Search"
                v-model="searchResult"
              />
            </form>
          </div>
          <!-- Contacts -->
          <div id="contacts">
            <div
              v-for="contact in filteredContacts"
              :key="contact.id"
              class="contact-item d-flex p-2 px-3 align-items-center gap-3"
              @click="selectedContact = contact"
            >
              <img
                :src="'img/avatar' + contact.avatar + '.jpg'"
                :alt="contact.name"
                class="avatar"
              />
              <div>{{ contact.name }}</div>
              <div class="text-end contact-message">
                <div class="txt-sm">{{ getLastMessage(contact) }}</div>
                <div class="small-text">{{ getLastMessageTime(contact) }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- messages section -->
        <div id="messages-section" class="col-9 px-0 d-flex flex-column">
          <div
            id="upper-msg-bar"
            class="d-flex justify-content-between align-items-center p-2 px-3"
          >
            <div class="d-flex justify-content-between gap-3">
              <img
                :src="'img/avatar' + (selectedContact ? selectedContact.avatar : '') + '.jpg'"
                :alt="(selectedContact ? selectedContact.name : '')"
                class="avatar"
              />
              <div class="lh-sm">
                <div>{{ selectedContact ? selectedContact.name : '' }}</div>
                <div class="small-text">Last access at:</div>
              </div>
            </div>
            <div class="d-flex gap-3">
              <a href="#"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
              <a href="#"><i class="fa-solid fa-paperclip fa-lg"></i></a>
              <a href="#"
                ><i class="fa-solid fa-ellipsis-vertical fa-lg"></i
              ></a>
            </div>
          </div>
          <div id="chat-container">
            <div v-if="selectedContact">
              <div
                v-for="message in selectedContact.messages"
                :key="message.id"
                class="message-item"
                :class="message.status"
              >
                <div :class="['message', message.status]">
                  <div class="message-content">{{ message.message }}</div>
                  <div class="message-date small-text">{{ message.date }}</div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="lower-msg-bar"
            class="d-flex align-items-center px-3 py-2 gap-3"
          >
            <i class="fa-regular fa-face-smile fa-lg"></i>
            <input
              class="form-control"
              type="text"
              placeholder="Write a message"
              v-model="newMessage"
              @keyup.enter="addMessage"
            />
            <i class="fa-solid fa-microphone fa-lg"></i>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
