/*! Root custom properties */
:root {
  --main-bg: #dbdbd3;
  --secondary-bg: #029788;
  --msg-bar: #f3eeea;
  --up-bar: #eaeaea;
  --blue-bar: #8edafc;
  --bbb: 1px dashed red;
}

/* General */

body {
  background-image: linear-gradient(
    var(--secondary-bg) 20%,
    var(--main-bg) 20%
  );
}

main {
  height: 90vh;
  flex-basis: 100%;
}
.avatar {
  border-radius: 50%;
  height: 30px;
}

/* TODO TEST REMOVE */

.col-3 {
  border: var(--bbb);
}
.col-9 {
  border: var(--bbb);
}

/** Main CSS */
